div{
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		text-transform: capitalize;
	}
	table{
		margin-top: 100px;
	}
	#re{
		margin-top: 0px;
		border: 2px solid blue;
		padding: 10px;
		border-radius:10px ;
		background: yellow;
	
	}
	span{
		text-align: center;
	}
	#re:hover
	{
		color: white;
		background: black;
	}
	.color{
		background: green;
	}
	.hight{
		height: 80px !important;
		text-align: center;
		padding-top:30px ;
	}